body {
  margin: 0px;
  padding: 0px;
}

#bannerBar {
  position: fixed;
  height: 12vh;
  width: 100%;
  background-color: black;
}

#bannerName {
  height: 9vh;
  width: 40%;
  margin-top: 2.5vh;
  margin-left: 2%;
}

#bannerTitle {
  font-size: 3vh;
  margin-top: 5.5vh;
  margin-left: 44%;
  color: #29e;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.banner {
  position: fixed;
  margin-top: 0px;
  float: left;
  height: 10vh;
}
