body {
  margin: 0px;
  padding: 0px;
  background-color: linen;
}

#bannerBar {
  position: fixed;
  height: 12vh;
  width: 100%;
  background-color: black;
}

#bannerName {
  height: 9vh;
  width: 30%;
  margin-top: 2.5vh;
  margin-left: 2%;
}

#bannerTitle {
  font-size: 3vh;
  margin-top: 5.5vh;
  margin-left: 34%;
  color: #29e;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  cursor: default;
}

#copyright {
  float: left;
 font-size: 90%;
 margin-top: .8vh;
 padding-left: 1.5%;
 color: linen;
 opacity: 0.4;
}

#navBar {
  width: 50%;
  color: linen;
  position: fixed;
  margin-left: 50%;
}

#navDropdownGallery {
  margin-left: 4.5%;
}

#navDropdownAbout {
  margin-left: 17%;
}

#navDropdownContact {
  margin-left: 30%;
}

#descriptionPanel {
  height: 100vh;
  width: 35%;
  background-color: wheat;
  float: right;
  font-family: 'Averia Serif Libre', cursive;
}

#homeTitle {
  margin-top: 15vh;
  text-align: center;
  font-size: 5vh;
}

#homeDescription {
  margin-left: 8%;
  margin-top: 4vh;
  font-size: 2vh;
}

#panelHeader {
  font-size: 4vh;
  font-weight: 500;
}

.panelStrong {
  font-weight: bolder;
}

.navBar {
  display: inline;
  float: left;
  width: 10%;
  margin-top: 3.8vh;
  margin-left: 15%;
  font-size: 2.5vh;
  cursor: default;
  font-family: 'Averia Serif Libre', cursive;
}

.navDropdown {
  float: left;
  margin-left: 50%;
  width: 10%;
  padding: 0;
  list-style: none;
  position: fixed;
  padding-top: 1.2vh;
  margin-top: 6.8vh;
  background-color: black;
  font-size: 80%;
  text-align: center;
  cursor: default;
}

.navDropdownOpt {
  padding-top:1.5vh;
  padding-bottom: 1.5vh;
  cursor: pointer;
  font-family: 'Averia Serif Libre', cursive;
}

.banner {
  position: fixed;
  margin-top: 0px;
  float: left;
  height: 10vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3vh;
  background-color: black;
}
